@import url('https://fonts.googleapis.com/css?family=Puritan');

body {
    font-family: 'Puritan', sans-serif;
    line-height: 200%;
}

a {
    color:#1f82d3;
}

header .title {
    height:60px;
}

header .title img {
    display:none;
}

#open {
    font-size:1.5em;
    color:#fff;
    padding:5px 10px 5px 10px;
    border-radius:7px;
    background-color: #707070;
    opacity: 0.7;
}

#open:hover {
    background-color:#82888c;
}

header .banner img {
    width:100%;
}

.title h1 {
    color:#333;
    text-transform: uppercase;
}

header .title img{
     height: 50px;
    padding:5px;
 }

.top-menu a, .top-menu .dropbtn {
    text-transform: uppercase;
}

.top-menu {
    background-color: #333;
    transition: width .5s;
    opacity:0.9
}

.tiles {
    margin-bottom:50px;
}

.tile {
     margin-bottom:20px;
    border:1px solid #e2e0e0;
    border-radius:7px;
}

.tile-title a {
    font-size: 0.9em;
    text-transform: uppercase;
}

.tile-title {
    margin:10px;
}

.tile .tile-img img {
    width:100%;
    height:auto;
}

.tile .tile-content {
    font-size:1em;
    padding:10px;
    height:100px;
    line-height: 150%;
}

.tile .tile-footer a {
    display:block;
    font-size:1.1em;
    padding:15px;
    
    border-radius:5px;
    margin:5px;
    background-color: #139eef;
    color:#fff;
}

.tile-footer a:hover {
    background-color:#68c4f9;
}

.tile-footer span {
    font-size:2em;
}

footer {
    background-color: #494949;
    padding:50px 20px 10px 20px;
    color: #fff;
}

footer .cols {
    margin: 0 auto;
    width:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:40px;
}

footer .col h1 {
    font-size:large;
    text-transform: uppercase;
}

footer .col a {
    text-align:left;
    color:#fff;
    display:block;
}

footer .col a:hover {
    text-decoration:underline;
}

article {
    padding:5px;
}

.dropbtn {
    cursor:pointer;
}

.dropdown-content, .fixable-bar > a {
    border-bottom: 1px solid #888;
}

.dropdown-content .last-drop-elm {
    text-align:center;
    font-weight:bold;
}

form {
    display:table;
}

form input, form textarea {
    padding: 10px;
    font-size:1.2em;
    border:1px solid #ddd;
    border-radius:5px;
}

form .boltforms-row {
    display:table-row;
}

form .boltforms-label, form .boltforms-error, form .boltforms-value {
    display:table-cell;
    padding-top:5px;
    padding-bottom:5px;
    vertical-align:top;
}

form button {
    background-color: #139eef;
    border:0;
    cursor:pointer;
    padding:10px;
    color:#fff;
    font-size:1.2em;
    border-radius:5px;
}

form button:hover {
    background-color:#68c4f9;
}

div .pagination ul {
    text-align:center;
}

.pagination li {
    display:inline-block;
    list-style-type:none;
    margin-right:5px;
}

.pagination {
    margin-bottom:50px;
}

.pagination li a {
    background-color: #139eef;
    border:0;
    cursor:pointer;
    padding:10px 20px 10px 20px;
    color:#fff;
    font-size:1.2em;
}

.pagination li a:hover {
    background-color:#68c4f9;
}

.pagination .active a{
    background-color: #d3dee5;
    color:#7a7d7f;
}

.pagination .active a:hover{
    background-color:#d9ecf7;
}

.item {
    position:relative;
}

.item img {
    display:block;
    margin: 0 auto;
}

.item-buy {
    text-align:right;
}

.item-buy a {
    display:inline-block;
    font-size:1.1em;
    padding:15px;
    
    border-radius:5px;
    margin:5px;
    background-color: #139eef;
    color:#fff;
}

.item-buy a:hover {
    background-color:#68c4f9;
}

.item-buy span {
    font-size:2em;
}

.item-banner img {
    width:90%;
    margin-left:5%;
}

.related {
    z-index:10;
    background-color:#e8eff4;
    padding-bottom:20px;
}

.related h1 {
    padding:10px;
}

.related .tile {
    background-color:#fff;
}

.related .tiles {
    margin-bottom:0;
}

.tags a {
    display:inline-block;
    padding:5px;
    margin-right:5px;
    font-weight:bold;
    border-radius:5px;
    background-color:#51c14b;
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
}

.tags a:hover {
    background-color:#88d884;
    color:#fff;
}

@media screen and (min-width: 1024px) {
    
    #open {
        display:none;
    }
    
    .top-menu {
        margin-top:50px;
        display:block;
        background-color:#fff;
        opacity:1;
    }
    
    main {
         margin-top:100px;
    }
    
    header .title {
        background-color: #515356;
    }
    
    .title h1 {
        color:#fff;
    }
    
    header .top-menu a {
        color:#333;
    }
    
    .container a:hover, .top-menu a:hover,
    .dropdown:hover .dropbtn {
        background-color:#c9162b;
        color:#fff;
    }
    
    .dropdown-content, .fixable-bar > a {
        border-bottom: 0;
    }
    
    .top-menu .dropbtn {
        color:#333;
    }
    
    .dropdown a {
        color:#333;
    }
    
    .dropdown-content a {
        color:#000;
        padding: 5px 10px 5px 10px;
    }
    
    
    .tile {
        margin-bottom:20px;
    }
    
    .tile .tile-img img {
        width:auto;
        height:300px;
    }
    
    .tile:hover {
        box-shadow: 2px 3px 5px #a6a9ad;
        transition: box-shadow 0.3s;
    }
    
    .header-scroll .top-menu {
        box-shadow: 0px 3px 5px #ddd;
    }
    
    header .title img {
        display:block;
    }
    
    article {
        margin:0 auto;
        width:50%;
        padding:5px;
    }
    
    .related h1 {
        padding:50px 0 10px 50px;
    }
    
}
