<footer>
    <div class="cols">
        <div class="col">
            <h1>About us</h1>
            <a href="/about">About us</a>
            <a href="/contact">Contact us</a>
        </div>
        
        <div class="col">
            <h1>Stay in touch</h1>
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i> facebook</a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i> twitter</a>
            <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i> youtube</a>
        </div>
        
        <div class="col">
            <h1>Our partners</h1>
            <a href="https://symbiodyssey.com" target="_blank">symbiodyssey.com</a>
        </div>
    </div>
    <div class="link-so"><a href="https://starterkits.symbiodyssey.com/kit/affiliate-website" target="_blank">Start your own affiliate website</a></div>
</footer>
